.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.projectpic{
  margin-top: 10px;
  height: 200px;
  width: 200px;
}
.profilepic {
  margin-top: 10px;
  height: 100px;
  width: 95px;
  margin: auto;
}
.navbar {
  width: 900px;
  height: 100px
}
.nameHeading {
  margin-bottom: 0px
}

/* .tableClass {
  height: 500px;
  width: 500px;
}

.tableHead {
  height: 500px;
  width: 500px;
}

.tableBody {
  height: 500px;
  width: 500px;
} */